.main{
	width:100%;
	min-width:1366px;
	height:100%;
	overflow: hidden;
	background: #f0f6fc;
}

/*leftNavStart*/
.main>.left{
	width:64px;
	height:100%;
	background:#2a3244;
	position: relative;
	float:left;
}
.logo{
	width:100%;
	padding-top:24px;
	height:64px;
}
.logo img{
	margin:0 auto;
	display: block;
	width:36px;
}
.tabItem{
	width:100%;
	height:auto;
	margin-top:40px;
	position: relative;
	z-index: 99999;
}
.tabItem>li{
	width:64px;
	height:64px;
	text-align: center;
	position: relative;
	vertical-align:middle !important;
	line-height:64px;
	cursor:pointer;
}
.tabItem>li>a{
	display: block;
	width:100%;
	height:100%;
}
.tabItem>li>a>img,
.tabItem>li>img{
	display: inline-block;
	width:30px;
}
.tabItem>li.active,
.tabItem>li:hover{
	background:#222839;
}
.tabList{
	width:146px;
	position: absolute;
	left:64px;
	top:0;
	height:auto;
	z-index: 3;
	background:#222839;
	display: none;
}
.tabList>li{
	height:64px;
	width:100%;
	line-height:64px;
	padding: 0 15px;
}
.tabList>li>a{
	width: 100%;
	display: block;
	border-bottom:2px solid #273144;
	font-size:14px;
	text-indent: 14px;
	text-align: left;
	color:white;
}
.tabList>li:last-child>a{
	border-bottom:none;
}
.tabList>li>a:hover{
	text-underline: none;
	text-decoration: none;
}
.tabList>li>a>img{
	display: inline-block;
	width:26px;
	margin-right:10px;
}

.quit{
	width:100%;
	position: absolute;
	bottom:35px;
	left:0;
	text-align:center;

}
.quit a{
	color: white;
	font-size:14px;
}
/*leftNavEnd*/






.main>.right{
	height: 100%;
	margin-left:64px;
	font-size:0;
	position: relative;
}
.header{
	width:100%;
	height:61px;
	border-bottom:1px solid #d4def1;
	position:relative;
	z-index: 2;
	left:0;
	top:0;
}
.content{
	width:100%;
	height:100%;
	margin-top:-60px;
	position: relative;
	z-index: 1;
	padding-top:62px;
}
.contentWrap{
	height: 100%;
	margin-right:192px;
}
.dealer{
	width:192px;
	height:100%;
	background:#2a3244;
	float:right;
	position: relative;
}
.noMargin{
	margin:0;
}
.pad20{
	padding:0px 20px !important;
	
}



/*~~~~~~~~~~~~~~~~~~~~~~~消息提醒~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.member-badge {
  height: 34px;
  width: 34px;
  position: absolute;
  right: 24px;
  border: 1px solid #9E9E9E;
  border-radius: 34px;
  text-align: center;
  top: 12px; 
  cursor:pointer;
  }

.member-badge >div {
  height: 34px;
  width: 34px;
  position: relative;
  
   }
   .member-badge >div >i{
   	line-height: 34px;;
   }
  .member-badge>div>span {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: #ff6969;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
    color: white;
    line-height: 16px;
    border-radius: 16px; }
.infomation{
	display: none;
	width:260px;
	height:220px;
	position: absolute;
	top:48px;
	right:0px;
	padding:0 20px;
	background: white;
	border:1px solid #CCCCCC;
	border-radius:5px;
}
.infomation-item li{
	height:60px;
	text-align:left;
	border-bottom:2px  dashed #EEECEC;
	position:relative;
}
.infomation-item li.active:before{
	content:"" ;
	display: block;
	width:10px;
	height:10px;
	background:red;
	position: absolute;
	left:-14px;
	top:17px;
	border-radius:10px;
}



.infomation-item li a{
	display: block;
	width:100%;
	height:60px;
	padding: 12px 0;
	color: #666666;
}
.view-more{
	height:40px;
	line-height:40px;
}
.view-more a{
	color: deepskyblue;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~分页~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.paging {
  width: 240px;
  height: 30px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -120px;
  z-index: 9;
  text-align: center; }

.paging>.prev,
.paging>.next,
.page-item,
.total {
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
  color: #333333; }
.prev,
.next {
  width: 20px;
  text-align: center; }

.page-item li {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px; }

.page-item li.active,
.page-item li.active a {
  background: #ff6969;
  color: white;
  border-radius: 20px; }

.total {
  margin-left: 24px; }
  
/*~~~~~~~~~~daterangepicker~~~~~~~~~~~~~~~~*/
.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    display:inline-block;
    width:50px;
    margin-bottom: 0; 
    text-align:center !important;
    border:1px solid #357ebd;
    border-radius:5px;
    text-indent: 12px;
    }