.goods-seach{
    margin:30px 0; 
    li{
        float: left;
        margin-right:12px;
    }
    input{
        width:160px;
        background:#7A839C;
        color:white;
    }
    select{
        width:128px;
         background:#7A839C;
         color:white;
    }
    
}
