<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>俱乐部管理后台</title>
		<link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/createmodal.css" />
		<link rel="stylesheet" type="text/css" href="../css/infomation.css" />
	</head>

	<body>
		<div class="main" id="main">
			<!--leftStrart-->
			<div class="left">
				<div class="logo">
					<img src="../image/logo.png" />
				</div>
				<ul class="tabItem">
					<li class="active">
						<img src="../image/icon/iconproject_select.png" />
						<ul class="tabList">
							<li>
								<a href="../index.html"><img src="../image/Img_dealer.png" /> 德州扑克</a>
							</li>
							<li>
								<a href="#"><img src="../image/Img_dealer.png" />斗地主</a>
							</li>
							<li>
								<a href="#"><img src="../image/Img_dealer.png" />象棋</a>
							</li>
						</ul>
					</li>
					<li>
						<img src="../image/icon/iconFinance.png" />

					</li>
					<li>
						<a href="member.html">
							<img src="../image/icon/iconMember.png" />
						</a>

					</li>
					<li>
						<a href="goodsorder.html">
						<img src="../image/icon/icongoods.png" />
</a>
					</li>
				</ul>
				<div class="quit">
					<a href="#">退出</a>
				</div>
				<!--leftEnd-->
			</div>

			<!--rightSrart-->

			<div class="right">
				<!--headerStart-->
				<div class="header">
					<nav class="navbar navbar-default competition">
						<div class="container-fluid">
							<div class="navbar-header competition-type">
								<a class="navbar-brand club-logo" href="#">
									<img src="../image/Img_dealer.png" alt="赛事类型logo" />

								</a>
							</div>
							<div class="collapse navbar-collapse" id="competition">
								<ul class="nav navbar-nav now-competition">
									<li >
										<a href="#">当前赛事</a>
									</li>
									<li data-toggle="modal" data-target="#history-modal">
										<a href="#">历史赛事</a>
									</li>
									<li data-toggle="modal" data-target="#create-modal">
										<a href="#">新建比赛</a>
										<!--<ul class="create-competition">
											<li>
												<a href="#">本地模板</a>
											</li>
											<li>
												<a href="#">系统模板</a>
											</li>
										</ul>-->
									</li>

								</ul>

								<!--<ul class="nav navbar-nav navbar-right competition-desk">
									<li>
										<a href="#">空闲桌子: <span>5</span> </a>
									</li>
									<li>
										<a href="#">空闲Dealer: <span>8</span></a>
									</li>
								</ul>-->
							</div>
							<!-- /.navbar-collapse -->
						</div>
						<!-- /.container-fluid -->
					</nav>
					<!--消息通知-->
					<div class="member-badge" id="member-badge">
						<div>
							<i class="glyphicon glyphicon-bell "></i>
							<span>
									1
								</span>

							<div class="infomation" id="infomation">
								<ul class="infomation-item">
									<li>
										<span></span>
										<a href="#">
											系统消息:赛事审核通过，请按照规定举行赛事，绿色扑克，趣味竞技
										</a>
									</li>
									<li>
										<span></span>
										<a href="#">
											系统消息:赛事审核通过，请按照规定举行赛事，绿色扑克，趣味竞技
										</a>
									</li>
									<li class="active">
										<span></span>
										<a href="#">
											系统消息:赛事审核通过，请按照规定举行赛事，绿色扑克，趣味竞技
										</a>
									</li>

								</ul>
								<div class="view-more">
									<a href="infomation.html">查看全部</a>
								</div>
							</div>
						</div>
					</div>

					<!--headerEnd-->
				</div>
				<!--contentStart-->
				<div class="content">
					<!--contentWrapStart-->
					<div class="contentWrap noMargin" id="contentWrap">

						<ul class="infomation-nav">
							<li class="active">
								<a href="#">全部消息</a>
							</li>
							<li>
								<a href="#">系统消息</a>
							</li>
							<li>
								<a href="#">余额提醒</a>
							</li>
						</ul>
						<div class="infomation-wrap" id="infomation-wrap">
							<ul class="infomation-list" id="infomation-list">
								<li class="active">
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
										<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
										<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
										<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
										<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
										<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
								<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
								<li>
									<h2 class="i-title">南昌新闻网讯由中国田径协会、中央电视台、省体育局和市政府办</h2>
									<div class="i-time">2018-01-17</div>
									<p class="i-info">
										南昌新闻网讯 由中国田径协会、中央电视台、省体育局和市政府主办的2017南昌国际马拉松筹备工作进展顺利。 2017南昌国际马拉松成功入选了由中国田径协会、中央电视台联合主办的“奔跑中国·红色之旅”马拉松系列赛.比赛将于11月12日7时30分开跑，比2016南昌国际马拉松提前了半小时。竞赛时间约6小时，央视体育频道将全程直播.2017南昌国际马拉松的起点设在八一广场，全程（半程）马拉松终点设在“七城会”主场馆南昌国体中心，迷你马拉松终点 设在滕王阁。2017南昌国际马拉松的大部分赛道沿地铁线路布设，赛事期间，参赛者可凭号码布或跑友卡免费乘坐市内公交和 地铁。
									</p>
								</li>
							</ul>

						</div>

						<!--contentWrapEnd-->
					</div>

					<!--contentEnd-->
				</div>

				<div class="paging">
					<div class=" prev ">
						<a href="" class="glyphicon glyphicon-menu-left"></a>
					</div>
					<ul class="page-item">
						<li>
							<a href="">1</a>
						</li>
						<li class="active">
							<a href="">2</a>
						</li>
						<li>
							<a href="">3</a>
						</li>
					</ul>
					<div class=" next">
						<a href="#" class="glyphicon glyphicon-menu-right"></a>
					</div>
					<div class="total">
						共<span>3</span>页
					</div>

				</div>

				<!--rightEnd-->
			</div>
		</div>

	
		<div id="app">
			<!--新建比赛{-->
			<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content  create-modal">

						<ul class="create-moddal-info">
							<li v-if="create=='sys-tmpl'">
								<div class="create-header">
									<!--<span class="glyphicon glyphicon-menu-left back">
										
									</span>-->
									<div class="create-title">
										<span :class="tmplType=='sysTmpl' ? 'active' : ''" @click="selectTmpl('sysTmpl')">
											系统模板
										</span> |
										<span :class="tmplType=='localTmpl' ? 'active' : ''" @click="selectTmpl('localTmpl')">
											本地模板
										</span>
									</div>
									<span class="glyphicon glyphicon-remove close" @click="close('create-modal')">
									</span>
								</div>

								<!--系统模板-->
								<div class="create-content" v-show="tmplType == 'sysTmpl'">
									<ul class="form-group row create-type">
										<li class="col-md-3">
											<select class="form-control" v-model="baseInfo.type">
												<option value="0">MTT</option>
												<option value="1">SNG</option>
											</select>
										</li>
										<li class="col-md-3">
											<input type="text" placeholder="人数" v-model="baseInfo.peopleNum" class="form-control" />
										</li>
										<li class="col-md-3">
											<select class="form-control" v-model="baseInfo.competition">
												<option value="0">周赛</option>
												<option value="1">月赛</option>
												<option value="2">年赛</option>
											</select>
										</li>

										<li class="col-md-3">
											<select class="form-control" v-model="baseInfo.agenda">
												<option value="0">快速赛</option>
												<option value="1">单桌赛</option>
											</select>
										</li>
									</ul>
									<div class="competition-init-info">
										初始筹码 : <span>100000</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 涨盲时间: <span>10</span>分
									</div>
									<table class="table blinds">
										<tbody>
											<tr>
												<th>阶段</th>
												<th>前注</th>
												<th>小盲</th>
												<th>大盲</th>
											</tr>
											<tr>
												<th>阶段</th>
												<th>前注</th>
												<th>小盲</th>
												<th>大盲</th>
											</tr>
										</tbody>
									</table>

									<ul class="blinds-table" id="blinds-table">

										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>
										<li>
											<span>1</span> <span>1</span> <span>1</span> <span>1</span>
										</li>

									</ul>
								</div>
								<!--本地模板-->
								<div class="create-content history-content" v-show="tmplType == 'localTmpl'">
									<ul class="hisory-list">
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span>赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
									</ul>

								</div>

								<div class="create-footer">
									<button type="button" class="template-next" v-if="tmplType !=='localTmpl'" @click="createTmpl('basic-info')">下一步</button>
								</div>
							</li>
							<li v-if="create=='basic-info'">
								<div class="create-header">
									<span class="glyphicon glyphicon-menu-left back" @click="back('sys-tmpl')">
										
									</span>
									<div class="create-title">
										基础信息
									</div>
									<span class="glyphicon glyphicon-remove close" @click="close('create-modal')">
									</span>
								</div>

								<div class="create-content">
									<ul class="form-group row basic-info">
										<li class="col-md-12">
											<input type="text" class="form-control" placeholder="输入比赛名称" />
										</li>
										<li class="col-md-12">

											<ul class="row">
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">开赛时间</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>

												<li class="col-md-3">
													<select class="form-control">
														<option value="0">人数 (下限)</option>
														<option value="1">6</option>
														<option value="2">9</option>
													</select>
												</li>
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">人数(上限)</option>
														<option value="1">10</option>
														<option value="2">20</option>
													</select>
												</li>
											</ul>

										</li>
										<li class="col-md-12">
											<ul class="row">
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">Rebuy次数</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>

												<li class="col-md-3">
													<select class="form-control">
														<option value="0">Rebuy(阶段)</option>
														<option value="1">月赛</option>
														<option value="2">年赛</option>
													</select>
												</li>
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">Add-on阶段</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">Add-on筹码</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>

											</ul>

										</li>

										<li class="col-md-12">
											<ul class="row">
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">积分和票券</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>

												<li class="col-md-3">
													<input type="text" class="form-control" placeholder="积分数量" />
												</li>
												<li class="col-md-3">
													<select class="form-control ">
														<option value="0">票券种类</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</li>
											</ul>
										</li>

										<li class="col-md-12">
											<input type="text" class="form-control" placeholder="地址栏" />
										</li>
										<li class="col-md-12">
											<textarea class="form-control basic-info-address" placeholder="赛事简介"></textarea>
										</li>
									</ul>
								</div>

								<div class="create-footer">
									<button type="button" class="template-next" v-on:click="basicInfo('award-info')">下一步</button>
								</div>
							</li>
							<li v-if="create=='award-info'">
								<div class="create-header">
									<span class="glyphicon glyphicon-menu-left back" @click="back('basic-info')">
										
									</span>
									<div class="create-title">
										奖励信息
									</div>
									<span class="glyphicon glyphicon-remove close" @click="close('create-modal')">
									</span>
								</div>

								<div class="create-content">
									<ul class="form-group row basic-info">
										<li class="col-md-12">
											<select class="form-control ">
												<option value="0">默认奖励</option>
												<option value="1">浮动奖励</option>
												<option value="2">固定组合奖励</option>
											</select>
										</li>
										<li class="col-md-12">
											<ul class="row award-title">
												<li class="col-md-3">名次</li>
												<li class="col-md-3">奖励类型</li>
												<li class="col-md-5">奖励</li>
											</ul>
										</li>
										<li class="col-md-12">

											<!--默认奖励{-->
											<ul class="row award" style="display: none;">
												<li class="col-md-12">
													<ul class="row ">
														<li class="col-md-3">第一名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第二名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第三名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
											</ul>
											<!--}默认奖励-->

											<!--浮动奖励{-->
											<ul class="row award" style="display: none;">
												<li class="col-md-12">
													<ul class="row ">
														<li class="col-md-3">第一名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第二名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第三名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
											</ul>
											<!--}浮动奖励-->

											<!--固定组合奖励{-->
											<ul class="row award mixture-award" style="display: block;">
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第一名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">第二名</li>
														<li class="col-md-3">
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
															<select name="" class="form-control">
																<option value="0">积分</option>
																<option value="1">票券</option>
															</select>
														</li>
														<li class="col-md-5">
															<input type="text" class="form-control" placeholder="积分数量" />
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
													</ul>
												</li>
											</ul>

											<!--}固定组合奖励-->

											<button class="add-award" type="button">添加名次</button>
										</li>
									</ul>
								</div>

								<div class="create-footer" style="text-align: center;">
									<button type="button" class="template-next template-public" @click="publicGame">发布比赛</button>
									<button type="button" class="template-next template-public" @click="saveAndPublic">保存模板并发布</button>
								</div>
							</li>
						</ul>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--}新建比赛-->

			<!--历史赛事{-->

			<div class="modal fade" id="history-modal" tabindex="-2" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content  create-modal">
						<ul class="create-moddal-info">
							<li>
								<div class="create-header">
									<!--<span class="glyphicon glyphicon-menu-left back">
										
									</span>-->
									<div class="create-title">
										历史赛事
									</div>
									<span class="glyphicon glyphicon-remove close" @click="close('history-modal')">
									</span>
								</div>

								<div class="create-content history-content">
									<ul class="hisory-list">
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
										<li class="row">
											<div class="col-md-8 history-info">
												<span>MGM竞技棋牌开业赛</span>|
												<span>MTT</span>|
												<span>2017.08.21 <time>15:30</time></span>|
												<span>90/120</span>
											</div>
											<div class="col-md-4 history-public">
												<span @click="regulations">赛事详情</span>|
												<span>再次发布</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="create-footer" style="text-align: center;">
									<!--<button type="button" class="template-next ">确定</button>-->
								</div>
							</li>
						</ul>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--}历史赛事-->

			<!--赛事详情{-->
			<div class="modal fade" id="regulations" tabindex="-2" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content  create-modal">
						<ul class="create-moddal-info" style="height: 600px;">
							<li>
								<div class="create-header">
									<!--<span class="glyphicon glyphicon-menu-left back">
										
									</span>-->
									<div class="create-title">
										赛事详情
									</div>
									<span class="glyphicon glyphicon-remove close" @click="close('regulations')">
									</span>
								</div>

								<!--create-content{-->
								<div class="create-content rs-content">

									<ul class="row regulations-tab">
										<li class="col-md-4 text-center">
											<span :class="rt=='basic' ?'active' : ''" @click="rTab('basic')">
											基本信息
											</span>
										</li>
										<li class="col-md-4 text-center">
											<span :class="rt=='tmpl' ?'active' : ''" @click="rTab('tmpl')">
											模板信息
											</span>
										</li>
										<li class="col-md-4 text-center">
											<span :class="rt=='award' ?'active' : ''" @click="rTab('award')">奖励信息</span>
										</li>
									</ul>
									<!--赛事详情tabItem{-->
									<ul class="regulations-list">
										<!--赛事详情基本信息{-->
										<li v-show="rt == 'basic'">
											<ul class="form-group row basic-info">
												<li class="col-md-12">
													<input type="text" class="form-control" placeholder="输入比赛名称" />
												</li>
												<li class="col-md-12">

													<ul class="row">
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">开赛时间</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>

														<li class="col-md-3">
															<select class="form-control">
																<option value="0">人数 (下限)</option>
																<option value="1">6</option>
																<option value="2">9</option>
															</select>
														</li>
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">人数(上限)</option>
																<option value="1">10</option>
																<option value="2">20</option>
															</select>
														</li>
													</ul>

												</li>
												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">Rebuy次数</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>

														<li class="col-md-3">
															<select class="form-control">
																<option value="0">Rebuy(阶段)</option>
																<option value="1">月赛</option>
																<option value="2">年赛</option>
															</select>
														</li>
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">Add-on阶段</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">Add-on筹码</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>

													</ul>

												</li>

												<li class="col-md-12">
													<ul class="row">
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">积分和票券</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>

														<li class="col-md-3">
															<input type="text" class="form-control" placeholder="积分数量" />
														</li>
														<li class="col-md-3">
															<select class="form-control ">
																<option value="0">票券种类</option>
																<option value="1">1</option>
																<option value="2">2</option>
															</select>
														</li>
													</ul>
												</li>

												<li class="col-md-12">
													<input type="text" class="form-control" placeholder="地址栏" />
												</li>
												<li class="col-md-12">
													<textarea class="form-control basic-info-address regulations-address" placeholder="赛事简介"></textarea>
												</li>
											</ul>
										</li>
										<!--}赛事详情基本信息-->

										<!--赛事详情模板信息{-->

										<li v-show="rt=='tmpl'">
											<ul class="form-group row create-type" >
												<li class="col-md-3">
													<select class="form-control" v-model="baseInfo.type">
														<option value="0">MTT</option>
														<option value="1">SNG</option>
													</select>
												</li>
												<li class="col-md-3">
													<input type="text" placeholder="人数" v-model="baseInfo.peopleNum" class="form-control" />
												</li>
												<li class="col-md-3">
													<select class="form-control" v-model="baseInfo.competition">
														<option value="0">周赛</option>
														<option value="1">月赛</option>
														<option value="2">年赛</option>
													</select>
												</li>

												<li class="col-md-3">
													<select class="form-control" v-model="baseInfo.agenda">
														<option value="0">快速赛</option>
														<option value="1">单桌赛</option>
													</select>
												</li>
											</ul>
											<div class="competition-init-info">
												初始筹码 : <span>100000</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 涨盲时间: <span>10</span>分
											</div>
											<table class="table blinds">
												<tbody>
													<tr>
														<th>阶段</th>
														<th>前注</th>
														<th>小盲</th>
														<th>大盲</th>
													</tr>
													<tr>
														<th>阶段</th>
														<th>前注</th>
														<th>小盲</th>
														<th>大盲</th>
													</tr>
												</tbody>
											</table>

											<ul class="blinds-table rs-blinds" id="rs-blinds">

												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>
												<li>
													<span>1</span> <span>1</span> <span>1</span> <span>1</span>
												</li>

											</ul>

										</li>

										<!--}赛事详情模板信息-->
										
										
										<!--赛事详情奖励信息{-->

										<li v-show="rt=='award'">
											<ul class="form-group row basic-info">
												<li class="col-md-12">
													可选奖励
												</li>

												<li class="col-md-12">
													<!--固定组合奖励{-->
													<ul class="row award mixture-award" style="display: block;">
														<li class="col-md-12">
															<ul class="row">
																<li class="col-md-3">第一名</li>
																<li class="col-md-3">
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																</li>
																<li class="col-md-5">
																	<input type="text" class="form-control" placeholder="积分数量" />
																	<input type="text" class="form-control" placeholder="积分数量" />
																</li>
															</ul>
														</li>
														<li class="col-md-12">
															<ul class="row">
																<li class="col-md-3">第二名</li>
																<li class="col-md-3">
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																</li>
																<li class="col-md-5">
																	<input type="text" class="form-control" placeholder="积分数量" />
																	<input type="text" class="form-control" placeholder="积分数量" />
																</li>
															</ul>
														</li>

														<li class="col-md-12">
															<ul class="row">
																<li class="col-md-3">第三名</li>
																<li class="col-md-3">
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																	<select name="" class="form-control">
																		<option value="0">积分</option>
																		<option value="1">票券</option>
																	</select>
																</li>
																<li class="col-md-5">
																	<input type="text" class="form-control" placeholder="积分数量" />
																	<input type="text" class="form-control" placeholder="积分数量" />
																</li>
															</ul>
														</li>

													</ul>

													<!--}固定组合奖励-->

												</li>
											</ul>

										</li>
										<!--}赛事详情奖励信息-->

									</ul>

									<!--}赛事详情tabItem-->
								</div>
				
						
				
								
									<!--}create-content-->
								
								<div class="create-footer" style="text-align: center;">
									<button type="button" @click="close('regulations')" class="template-next ">确定</button>
								</div>
							</li>
						</ul>
						
						
						
					

						</div>
								
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!--}赛事详情-->
			</div>
		<script src="../js/lib/require.js" defer async="true" data-main="../js/script/infomation" type="text/javascript"></script>
	</body>

</html>